Source: php5-ssh2
Section: web
Priority: optional
Maintainer: Engine Yard Packaging <packaging@engineyard.com>
Build-Depends: debhelper (>= 7), po-debconf, xsltproc , php5-dev, libssh2-1-dev
Standards-Version: 3.9.1

Package: php5-ssh2
Architecture: any
Depends: ${shlibs:Depends}, ${php:Depends}, ${misc:Depends}
Description: ssh2 module for PHP 5
 Bindings for the libssh2 library
 .
 Provides bindings to the functions of libssh2 which implements the
 SSH2 protocol.
     libssh2 is available from http:/libssh2.org/


