#!/usr/bin/make -f

PECL_PKG_NAME = ssh2
PECL_PKG_VER  = 0.12
BIN_PACKAGE_NAME = libssh2-php

PKGDIR = ${PECL_PKG_NAME}-${PECL_PKG_VER}
EXTDIR = $(shell /usr/bin/php-config5 --extension-dir)
PHPAPI = $(shell /usr/bin/php-config5 --phpapi)
INIDIR = $(shell /usr/bin/dpkg --compare-versions $(PHPAPI) lt 20100525 && echo conf.d || echo mods-available)

%:
	dh $@ --sourcedirectory=${PKGDIR}

override_dh_auto_configure:
	cd ${PKGDIR} && phpize5
	dh_auto_configure --sourcedirectory=${PKGDIR} -- \
		--prefix=/usr \
		--with-${PECL_PKG_NAME} \
		--with-php-config=/usr/bin/php-config5

override_dh_auto_install:
	echo "php:Depends=phpapi-`php-config5 --phpapi`" >> \
		debian/${BIN_PACKAGE_NAME}.substvars
	mkdir -p debian/${BIN_PACKAGE_NAME}/$(EXTDIR)
	install -m 644 -o root -g root $(PKGDIR)/modules/$(PECL_PKG_NAME).so \
		debian/${BIN_PACKAGE_NAME}$(EXTDIR)/$(PECL_PKG_NAME).so
	if [ -f "debian/$(PECL_PKG_NAME).ini" ]; then \
		mkdir -p debian/$(BIN_PACKAGE_NAME)/etc/php5/$(INIDIR); \
		cp debian/$(PECL_PKG_NAME).ini debian/$(BIN_PACKAGE_NAME)/etc/php5/$(INIDIR); \
	fi

override_dh_auto_clean:
	dh_auto_clean --sourcedirectory=${PKGDIR}
	rm -rf ${PKGDIR}/build
	rm -f ${PKGDIR}/Makefile.global
	rm -f ${PKGDIR}/acinclude.m4
	rm -f ${PKGDIR}/aclocal.m4
	rm -f ${PKGDIR}/config.guess
	rm -f ${PKGDIR}/config.h*
	rm -f ${PKGDIR}/config.nice
	rm -f ${PKGDIR}/config.sub
	rm -f ${PKGDIR}/configure*
	rm -f ${PKGDIR}/ltmain.sh
	rm -f ${PKGDIR}/run-tests.php
	rm -f ${PKGDIR}/mkinstalldirs
	rm -f ${PKGDIR}/missing
	rm -f ${PKGDIR}/install-sh
